body {
	background: url("background.svg");
}

.wrapper {
	max-width: 67em;
	margin: 1em auto;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
}

.icon {
	fill: #fff;
	width: 20px;
	height: 20px;
	padding-right: .5em;
}

header {
	margin: 0;
}

nav {
	margin: 0 auto;
	max-width: 67em;
}

ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-grow: 1;
	padding: .25em;
	margin: .05em;
	background: blue;
	border-radius: .25em;
	width: 6em;
}

a {  
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-grow: 1;
	text-decoration: none;
	color: white;
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	font-size: .75em;

}

h1 {
	margin: 0;
}