* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.icon {
	fill: #333;
	width: 20px;
	height: 20px;
	padding-right: .5em;
}

.logobar {
	display: block;
 	background-color: rgba(255, 255, 255, .9);
 	max-width: $width;
 	height: 125px;
 	margin: 0em auto;
 	border-radius: 1em 1em 0 0;
}

.logo {
	height: 100px ;
	width: 157px ;
	margin: 1em 0 .5em 1em;
	float: left;
}

.wrapper {
	max-width: $width;
	margin: 0 auto;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
}

.icon {
	fill: rgb(109, 90, 117);
	width: 20px;
	height: 20px;
	padding-right: .5em;
}

.slider {
	max-width: 100%;
	position: static;
}

#slidernav {
	position: relative;
	top: -1.5rem;
	width: 100%;
	height: 14px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.dot {
	margin: 0 5px;
}

.navlink {  
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-grow: 1;
	text-decoration: none;
	color: white;
	font-family: 'Poiret One', cursive;
	font-weight: lighter;
	font-size: .8em;
	letter-spacing: 3px;
}

#imageGallery {
	list-style: none;
	margin-left: 1em;
}

html {
  overflow: hidden;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
	height: 100%;
  	overflow: auto;
	background: url("/img/background.svg");
	background-attachment: fixed;
}

header {
	margin: 0;
}

nav {
	margin: 0 auto;
	max-width: $width;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-grow: 1;
	padding: .4em;
	/*margin: .05em*/;
	background-color: rgba(56, 183, 183, .9);
	border-radius: 0;
	width: 6em;
}

@media (min-width: 411px) {
	nav ul li {
		width: 140px;
	}
}

@media (min-width: 516px) {
	nav ul li {
		width: 80px;
		padding: .6em;
	}
}

h1 {
	margin: 1em 0;
	font-family: 'Poiret One', cursive;
	padding-left: .25em;
}

p {
	padding-left: .5em;
}