* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }


html {
  overflow: hidden;
  height: 100%;
  font-family:'Quicksand', sans-serif;

  color: #333;
}

body {
	height: 100%;
  	overflow: auto;
	background-attachment: fixed;
}

header {
	margin: 0;
}


.logobar {
	display: block;
 	background-color: rgba(255, 255, 255, 1);
 	max-width: $width;
 	height: 105px;
 	margin: 0em auto;
 	border-radius: 1em 1em 0 0;
}

.logo {
	width: 200px ;
	margin: 1em 0 .5em 1em;
	float: left;
}

#cart {
	float: right;
	margin-right: 1em;
	margin-top: 60px;
	font-size: .5em;
}

.wrapper {
	max-width: $width;
	margin: 0 auto;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
}

.icon {
	fill: rgba(66, 213, 108, 1);
	width: 25px;
	height: 25px;
	padding-right: .5em;

	@media (min-width: 800px) {
		width: 32px;
		height: 32px;
	}
}

.slider {
	max-width: 100%;
	position: static;
	margin: 0;
	padding: 0;
}

#slidernav {
	position: relative;
	top: -1.5rem;
	width: 100%;
	height: 14px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.dots {
	margin: 0 5px;
}

.navlink {  
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-grow: 1;
	text-decoration: none;
	color: white;
	font-family: 'Poiret One', cursive;
	font-weight: lighter;
	font-size: .8em;
	letter-spacing: 3px;
}

nav {
	margin: 0 auto;
	max-width: $width;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-grow: 1;
	padding: .4em;
	background-color: rgba(0,0,0,.90);
	border-radius: 0;
	width: 6em;

	@media (min-width: 411px) {
		width: 100px;
	}

	@media (min-width: 445px) {
		width: 115px;
	}

	@media (min-width: 516px) {
		width: 120px;
		padding: .6em;
	}

	@media (min-width: 534px) {
		width: 160px;
	}

	@media (min-width: 700px) {
		width: 100px;
	}

	@media (min-width: 850px) {
		font-size: 1.2em;
	}

}

h1 {
	margin: 0;
	font-family: 'Poiret One', cursive;
	padding-left: .25em;
}

/* styling for carousel */

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */

.dotdiv {
  position: relative;
  top: -1.5em;
  margin: 0 auto;
  height: 13px;
}

.dot {
  height: 8px;
  width: 8px;
  margin-right: 1.5px;
  margin-bottom: .5em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

@media (min-width: 500px) {
  .dot {
  height: 10px;
  width: 10px;
  margin-right: 2px;}
}

@media (min-width: 800px) {
  .dot {
  height: 12px;
  width: 12px;
  margin-right: 3px;}
}
.showing {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/*lower portion layout*/

#lowerPortion {
	margin: 0;
	padding: 0;
	position: relative;
	top: -.8em;

}

#productSpotlight {
	min-width: 250px;
	margin-top: .5em;
	background-color: #ffffff;

	@media (min-width: 600px) {
		display: flex;
	}


}

#h1featuredProduct {
	margin: .5em 0 0 1rem;
	padding: 0;
}

#h2productName {
	margin: 0 0 1em 1rem;
	font-size: 1.25rem;
	// color: rgba(23, 103, 255, 1);
}

h4 {
	margin-left: 1rem;
}

#imageGallery {
	list-style: none;
	display: flex;
	margin-left: 1rem;

		@media(min-width: 600px) {
			width: 60%;
		}

	li {
		width: 32%;
		margin: .5em;
		}

	img {
	width: 100%;
	border: .5px solid #bbb;
	}

	p {
		font-size: .75rem;
		display: block;
		text-align: center;
		
	}

	a {
		font-size: .75rem;
		display: block;
		text-align: center;
	}
}



#content {
	position: relative;
	@media(min-width: 600px) {
		flex-grow: 1;
	}

	img {
		border: none;
		width: 80%;
		display: block;
		margin: auto;

			@media(min-width: 600px) {
			margin: -5rem 0 0 2rem;
			width: 100%;
		}

	}

	a {
		position: relative;
		bottom: 3em;
		text-align: center;
		display: block;
		margin: auto;
	}

	#info {
		position: absolute;
		top: 4rem;
		color: white;
		padding: 2rem 1rem;
		margin-left: 1rem;
		background-color: rgba(0,0,0,0.8);
		border-radius: 0 5px 5px 0;
		width: 40%;
	}
}

	

