.musicwrapper {
	max-width: $width;
	margin: 0 auto;
	position: relative;
	top: -1em;
}

#productlayout {
   	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;    
}

#h1featuredProduct {
	margin: .5em 0 0 .5em;
	padding: 0;
}

#h2productName {
	margin: 0 0 1em 1rem;
	color: rgba(23, 103, 255, 1);
}

#allalbums {
    flex: 1;
    min-width: 400px;
}

#musicGallery {
	list-style: none;
	display: flex;
    flex-wrap: wrap;
	margin-left: 1rem;

	li {
		width: 25%;
	}

	img {
	width: 90%;
	border: 1px solid #bbb;
	}

	.active img {
	border: 2px solid #666;
	}
}

#selectedalbum {
    flex: 1;
    min-width: 200px;

	img {
		border: none;
		width: 80%;
		display: block;
		margin: auto;
	}
	p {
		color: white;
		padding: .5rem;
		background-color: rgba(66, 213, 108, 1);
		width: 80%;
        text-align: center;
		display: block;
		margin: auto;
	}
}

#buyline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buyalbum {
    display: flex;
    text-decoration: none;
    padding: .5em;
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin: .5rem;
}

#albumprice {
    display: flex;
    font-size: 1rem;
    padding: .5em;
    margin: .5rem;
}

