

#productlayout {
   	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;    
}

#allalbums {
    flex: 1;
    min-width: 100%;
	margin-top: 2rem;

	@media (min-width: 650px) {
		margin-top: 0;
		min-width: 50%;
	}
}

#musicGallery {
	list-style: none;
	display: flex;
    flex-wrap: wrap;
	margin-left: 1rem;

	li {
		width: 25%;
	}

	img {
	width: 90%;
	
	}

	.active img {
	border: 2px solid #666;
	}

	p {
		font-size: .8rem;
		margin-bottom: 1rem;
		width: 90%;
	}
}

#selectedalbum {
    flex: 1;
    min-width: 200px;

	img {
		border: none;
		width: 80%;
		display: block;
		margin: auto;
	}
	#albuminfobar {
		color: #333;
		padding: .5rem;
		background-color: rgba(66, 213, 108, 1);
		width: 80%;
        text-align: center;
		display: block;
		margin: auto;
		font-weight: bold;
	}
	#buy {
		width: 50%;
		text-align: center;
		display: block;
		margin: auto;
		margin-top: .25rem;
		background-color: #333;
		border-radius: 5px;
		padding: .25rem;
		color: white;
		text-decoration: none;
	}

	#release {
		width: 50%;
		text-align: center;
		display: block;
		margin: auto;
		margin-top: .25rem;
	}
}

#buyline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buyalbum {
    display: flex;
    text-decoration: none;
    padding: .5em;
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin: .5rem;
}

#albumprice {
    display: flex;
    font-size: 1rem;
    padding: .5em;
    margin: .5rem;
}

