#productSpotlight {
	flex: 1;
	min-width: 250px;
	margin-top: .5em;
	background-color: #ffffff;

	@media (min-width: 478px) {
		min-width: 260px;
	}

	@media (min-width: 490px) {
		min-width: 250px;
		margin-right: .25em;
	}

	@media (min-width: 560px) {
		margin: 0 0 0 .25em;
	}

	@media (min-width: 765px) {
		margin: 0 .25em;
	}
}

/*product spotlight styling*/

#h1featuredProduct {
	margin: .5em 0 0 .5em;
	padding: 0;
}

#h2productName {
	margin: 0 0 1em 1rem;
	color: rgba(23, 103, 255, 1);
}

#musicGallery {
	list-style: none;
	display: flex;
    flex-wrap: wrap;
	margin-left: 1rem;

	li {
		width: 32%;
	}

	img {
	width: 90%;
	border: 1px solid #bbb;
	}

	.active img {
	border-color: #666;
	}
}

#selectedalbum {
	position: relative;

	img {
		border: none;
		width: 80%;
		display: block;
		margin: auto;
	}
	p {
		// position: absolute;
		// top: 2rem;
		color: white;
		padding: .5rem;
		background-color: rgba(66, 213, 108, 1);
		width: 100%;
        text-align: center;
		display: block;
		margin: auto;
	}
}

#buyline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buyalbum {
    display: flex;
    text-decoration: none;
    padding: .5em;
    background-color: #333;
    color: white;
    border-radius: 4px;
    margin: .5rem;
}

#albumprice {
    display: flex;
    font-size: 1rem;
    padding: .5em;
    margin: .5rem;
}

