<div class="wrapper">

	<!--<div class="slideshow-container">

		<div class="mySlides">
			<div class="numbertext"></div>
			<img src="img/newmusic.svg" style="width:100%">
			<div class="text"></div>
		</div>

		<div class="mySlides">
			<div class="numbertext"></div>
			<img src="img/greatgifts.svg" style="width:100%">
			<div class="text"></div>
		</div>

		<div class="mySlides">
			<div class="numbertext"></div>
			<img src="img/image3.svg" style="width:100%">
			<div class="text"></div>
		</div>

	</div>

	<div class="dotdiv" style="text-align:center">
		<span class="dot"></span>
		<span class="dot"></span>
		<span class="dot"></span>
	</div>-->

	<h1 id="h1featuredProduct">
		Featured Item</h1>
	<h2 id="h2productName">Lightweight Scarf</h2>

	<ul id="imageGallery">
		<li ng-repeat="product in $ctrl.featured">
			<a href="{{ product.imageUrl[0] }}" title="{{ product.title }}" buylink="{{ product.buylink }}"><img ng-src="{{product.imageUrl[0]}}" ng-click="$ctrl.setImage(product.imageUrl[0])" /></a>
		</li>
	</ul>

	<div id="content">
		<img id="placeholder" ng-src="img/bluefloral.jpg">
		<p id="description">{{ $ctrl.featured.title }}</p>
		<a id="buynow" href="">Buy now!</a>
	</div>
</div>

<!--<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" showing", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " showing";
    setTimeout(showSlides, 3000); // Change image every 2 seconds
}
</script>-->