<h1 id="h1featuredProduct">
	Featured Albums</h1>
<h2 id="h2productName"></h2>

<div id="productlayout">

	<div id="selectedalbum">
		<img ng-src="{{$ctrl.mainImageUrl}} " />
		<p id="albuminfobar"> {{$ctrl.artist}} - {{$ctrl.description}}</p>

		<a id="buy" href="{{ $ctrl.link }}">
			<p>Buy now! {{ $ctrl.amount }}</p>
		</a>

		<p id="release"> Released: {{ $ctrl.release}} </p>

	</div>

	<div id="allalbums">
		<h4>Click thumbnails for more info.</h4>
		<ul id="musicGallery">
			<li ng-repeat="album in $ctrl.albums">
				<img ng-src="{{ album.picture }}" ng-click="$ctrl.setImage(album.picture); $ctrl.setDesc(album.title); $ctrl.setPrice(album.price); $ctrl.setArtist(album.name); $ctrl.setYear(album.releasedate)"
				/>
				<p> {{album.title}} </p>
			</li>
		</ul>
	</div>

</div>